In [ ]:
import requests
import pandas as pd

In [ ]:
username = "****"
password = "****"

#Test Community

In [ ]:
url = 'https://www.zefix.admin.ch/ZefixPublicREST/api/v1/community'

In [ ]:
response = requests.get(url, auth=(username, password))
print(response.json())

In [ ]:
response.headers

{'X-Content-Type-Options': 'nosniff', 'X-XSS-Protection': '1; mode=block', 'Cache-Control': 'no-cache, no-store, max-age=0, must-revalidate', 'Pragma': 'no-cache', 'Expires': '0', 'Strict-Transport-Security': 'max-age=31536000 ; includeSubDomains', 'Date': 'Tue, 23 Aug 2022 13:47:32 GMT', 'Content-Type': 'application/json', 'Transfer-Encoding': 'chunked', 'X-Frame-Options': 'sameorigin', 'Connection': 'Keep-Alive'}

In [ ]:
test_data = response.json()

In [ ]:
test_data

In [ ]:
from pandas import json_normalize 

df = json_normalize(test_data)
df

      bfsId canton          name  registryOfCommerceId
0      4551     TG        Aadorf                   440
1      4001     AG         Aarau                   400
2       301     BE       Aarberg                    36
3      4271     AG       Aarburg                   400
4       321     BE     Aarwangen                    36
...     ...    ...           ...                   ...
2141   3426     SG   Zuzwil (SG)                   320
2142    794     BE    Zweisimmen                    36
2143    947     BE   Zwieselberg                    36
2144   2793     BL       Zwingen                   280
2145   6011     VS  Zwischbergen                   600

[2146 rows x 4 columns]

In [ ]:
commerce_name = response.json()

In [ ]:
print(len(commerce_name))

2146

In [ ]:
print(type(commerce_name))

<class 'list'>

#Retrieve by business name or UID

In [ ]:
# {
#   "name": "Enam",
#   "legalFormId": 4,
#   "legalFormUid": "0107",
#   "registryOfCommerceId": 36,
#   "legalSeatId": 623,
#   "canton": "BE",
#   "activeOnly": true
# }url = 'https://www.zefix.admin.ch/ZefixPublicREST/api/v1/company/uid/CHE477413422'

In [ ]:
query = 'legal'
payload = {'name': 'Legal', 'activeOnly': True}

In [ ]:
r = requests.get(url, auth=(username, password))

In [ ]:
print(r.json())

In [ ]:
UID_data = r.json()

In [ ]:
df = json_normalize(UID_data)
df

      bfsId canton          name  registryOfCommerceId
0      4551     TG        Aadorf                   440
1      4001     AG         Aarau                   400
2       301     BE       Aarberg                    36
3      4271     AG       Aarburg                   400
4       321     BE     Aarwangen                    36
...     ...    ...           ...                   ...
2141   3426     SG   Zuzwil (SG)                   320
2142    794     BE    Zweisimmen                    36
2143    947     BE   Zwieselberg                    36
2144   2793     BL       Zwingen                   280
2145   6011     VS  Zwischbergen                   600

[2146 rows x 4 columns]

#Retrieve by CH-ID

In [ ]:
url = 'https://www.zefix.admin.ch/ZefixPublicREST/api/v1/company/chid/CH66032710197'
response = requests.get(url, auth=(username, password))
cH_Id = response.json()

In [ ]:
df = json_normalize(cH_Id)
df

,name,ehraid,uid,chid,legalSeatId,legalSeat,registryOfCommerceId,status,sogcDate,deletionDate,...,address.street,address.houseNumber,address.addon,address.poBox,address.city,address.swissZipCode,zefixDetailWeb.de,zefixDetailWeb.fr,zefixDetailWeb.it,zefixDetailWeb.en
0,LEGALMARQUE SARL,1412165,CHE477413422,CH66032710197,6458,Neuchâtel,645,ACTIVE,2022-01-06,None,...,route des Falaises,7,,,Neuchâtel,2000,https://www.zefix.admin.ch/de/search/entity/li...,https://www.zefix.admin.ch/fr/search/entity/li...,https://www.zefix.admin.ch/it/search/entity/li...,https://www.zefix.admin.ch/en/search/entity/li...

#Search Company

In [ ]:
 query = 'Legal'

In [ ]:
post_json = (

    "{"  #first curly bracket
    "\"activeOnly\": true,"  #--> key, value begins and ends with \" except for bool
     f"\"name\": \"{query}\""
     "}" #last curly bracket
     
     )

In [ ]:
json.loads(post_json)

{'activeOnly': True, 'name': 'Legal'}

In [ ]:
# post_json = ("{"
#     "\"activeOnly\": true,"
#     f"\"name\": \"{query}\""
#         "}"
# )

In [ ]:

payload = json.loads(post_json)

In [ ]:
headers = {
    "accept": "application/json",
    "Content-Type": "application/json"
}

In [ ]:
response = requests.post(url, 
                         headers=headers,
                         auth=(username, password), 
                         json=payload)

In [ ]:
response.status_code

200

In [ ]:
commerce_search = response.json()

In [ ]:
df = json_normalize(commerce_search)
df

,code,exceptionMessage,i18nTitleKey,i18nMessageKey,id
0,Error,405 METHOD_NOT_ALLOWED (exceptionid=5416400968...,global.error.title.Error,global.error.message,5416400968924540209

In [ ]:
#function to search for company name and return dataframe
import json
import requests
#import pandas
from pandas import json_normalize

def commmerce_name_search(query):

    username = "****"
    password = "****"
    url = 'https://www.zefix.admin.ch/ZefixPublicREST/api/v1/company/search'


    #String Formatting
    post_json = (

    "{"  #first curly bracket
    "\"activeOnly\": true,"  #--> key, value begins and ends with \" except for bool
     f"\"name\": \"{query}\""
     "}" #last curly bracket
     
     )
    #convert formatted string to json
    payload = json.loads(post_json)

    #define headers
    headers = {
    "accept": "application/json",
    "Content-Type": "application/json"
    }

    #post request using above params
    response = requests.post(url, 
                         headers=headers,
                         auth=(username, password), 
                         json=payload)
    
    if response.status_code == 200:
        commerce_search = response.json()
        df = json_normalize(commerce_search)

        #drop unwanted columns
        df.drop(['ehraid','chid', 'legalSeatId',
       'registryOfCommerceId', 'status', 'sogcDate', 'deletionDate',
       'legalForm.id', 'legalForm.uid', 'legalForm.name.de',
       'legalForm.name.fr', 'legalForm.name.it', 'legalForm.name.en',
       'legalForm.shortName.de',
       'legalForm.shortName.it', 'legalForm.shortName.en'], axis=1, inplace=True)
        
        #rename cols with new names
        df[['Marques', 'IDE', 'Forme', 'Siège']] = df[['name', 'uid','legalSeat','legalForm.shortName.fr']]

        #drop old names
        df.drop(["name", "uid", "legalSeat", "legalForm.shortName.fr"], axis=1, inplace=True)

        return df

    else: 
        print(f"Invalid User Authentification: {response.status_code}")

In [ ]:
commmerce_name_search('vaya')

                      Marques           IDE      Forme Siège
0                     Vaya AG  CHE386910268  Muntelier    SA
1  Vaya Group, Joannis Vagias  CHE259794131   Zollikon    EI
2                  Vayan Sàrl  CHE108542877       Broc  Sàrl
3               vayatela GmbH  CHE175886713       Bern  Sàrl